html{
  height:100%;
  font-style: oblique;

}

.me{
letter-spacing: 4px;
color:whitesmoke;
font-size: large;
font-style: oblique;
text-shadow: 2px 2px black;
}
.me img{
  border:solid 1px black;
border-radius: 7px;
background:rgba(128, 128, 128, 0.322);
padding:20px;
margin-top: 25%;
}
body{ 
  background-image: url("./images/water-1330252_1920.jpg");
  width:100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color:whitesmoke;
  font-style: oblique;

}
.jumbotron{
  font-style: italic;
}
.anchor-font {
  color:whitesmoke;
  font-size: 30;
}

@media (max-width: 768px) {
  .me { color:white;
    text-overflow: "ellipsis";
 background-image: url("./images/water-1330252_1920.jpg");
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;

  }
   .footer{
    background-image: url("./images/water-1330252_1920.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   }
}
@media (max-width: 980px) {
 body {
  background-image: url("./images/water-1330252_1920.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }
}

.jank{
text-align: center;
}

.box{
  border:solid 1px salmon;
border-radius: 7px;
background:rgba(255, 0, 128, 0.164);
padding:20px;
margin-top: 25%;}

